body{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 14%, rgba(216,70,252,1) 100%);
}

.App {
  text-align: center;
}
p{
  margin: 0;
  padding: 0;
}

.register-form{
  margin: 1rem;
}
.container{
  padding: 0;
}

.register-form-container{
  display: inline-block;
  background-color: #ddd;
  padding: 1.5rem;
 

}
.register-form-container .form-title{
  margin-bottom: 1rem;
}

.register-form-container label{
  display: block;
  font-weight:500;
  text-align: left;
  padding-left: 12px;
  padding-top: 9px;
}

.register-form-container input{
    display: block;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 17px;
    width: 350px;
    padding: calc(0.375em - 1px) calc(0.625em - 1px)
}
.register-form-container .error{
  color: red;
  text-align: left;
  padding-left: 12px;
  padding-bottom: 0;
  font-size: small;
  font-weight: 400;
  

}
.register-form-container button{
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background: radial-gradient(circle, rgba(63,94,251,1) 14%, rgba(216,70,252,1) 100%);
  border-radius: 50px;
  border: 1px solid rgb(63 94 251);
}
.avatar{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-bottom: 3px;
}