body{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 14%, rgba(216,70,252,1) 100%);
}

.App {
  text-align: center;
}

.container{
  padding: 0;
}

.register-form-container{
  margin: 8rem auto;
  display: inline-block;
  background-color: #ddd;
  padding: 2rem;

}
.register-form-container .form-title{
  margin-bottom: 1rem;
}

.register-form-container label{
  display: block;
  font-weight:600;
  text-align: left;
  padding-left: 12px;
}

.register-form-container input{
    display: block;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 17px;
    margin-bottom: 0;
    width: 350px;
    padding: calc(0.375em - 1px) calc(0.625em - 1px)
}
.register-form-container .error{
  color: red;
  text-align: left;
  padding-left: 12px;
  

}
.register-form-container button{
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background: radial-gradient(circle, rgba(63,94,251,1) 14%, rgba(216,70,252,1) 100%);
  border-radius: 50px;
  border: 1px solid rgb(63 94 251);
}
